
*{
    margin: 0px;
    padding: 0px;
}
header{ 
    font-family: 'Jura', sans-serif;
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Jura', sans-serif;

    background-color: black;
    color: white;
    background-image: url(images/backgroundIMG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.logo, .TopMenu{
    display:inline-block;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    margin-right: 25px;

    font-family: 'Jura', sans-serif;
}

.TopMenu li{ 
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    transition: 0.2s;

}

.TopMenu a{
    font-family: 'Jura', sans-serif;

    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    
}

.TopMenu a:hover{
    color: rgb(49, 194, 16);
}

.logo h1{
    font-family: 'Jura', sans-serif;

    font-size: 30px;
    vertical-align: middle;
    color:white;
}


li:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);

}


.container-Main {
    margin: 50px auto;
    background: black;
    height: 1550px;
    width: 900px;
    padding: 20px;
    box-shadow: 2px 2px 15px rgb(49, 194, 16);
    border-radius: 20px;
    color: white;

}
.container-1{
    display: flex;
    justify-content: space-around;
}
.container-2{
    display: flex;
    justify-content: space-around;
}
.container-3{
    display: flex;
    justify-content: space-around;
}
.container-4{
    display: flex;
    justify-content: space-around;
}

h3{
    text-align: center;
    font-weight: bold;
}
.box{
    margin: 30px 0px 0px 0px;
    background: rgb(49, 194, 16);
    height: 300px;
    padding: 0px;
    
    border-radius: 20px;
    color:black;
    text-align: center;
    transition: 0.2s;
}
.box:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}


footer p{
    font-family: 'Jura', sans-serif;
    color:rgb(49, 194, 16);
    text-decoration:none;
}
footer{
    font-family: 'Jura', sans-serif;
    border: 2px solid rgb(49, 194, 16);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 240px;
}
ul p{
    color: #8d8176;
    text-decoration: none !important;
    border: none !important;
    }
.a-solo{
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    color:white;
    font-weight: bold;
    }

.back{
    font-family: 'Jura', sans-serif;

    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;

    display: inline-block;
    margin-right: 25px;
    transition: 0.2s;
}
.back:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
    color: rgb(49, 194, 16);
}
.text-c{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.text-p{
    font-size: 20px;
    margin-bottom: 10px;
}
.text-a{
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    }
.text-a:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
    color: rgb(49, 194, 16);
}
