/*основное*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Jura', sans-serif;
    background-color: black;
    color: white;
    background-image: url(images/backgroundIMG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.item{
    display: flex;
    justify-content: space-around;
}
.container{
    margin: 50px auto;
    background: black;
    height: 1550px;
    width: 900px;
    padding: 20px;
    box-shadow: 2px 2px 15px rgb(49, 194, 16);
    border-radius: 20px;
    color: white;
}
h3{
    text-align: center;
    font-weight: bold;
}
/*основное еонец*/


/*HEADER START*/
header{ 
    font-family: 'Jura', sans-serif;
    display: flex;
    justify-content: center;
}
.logo, .TopMenu{
    display:inline-block;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    margin-right: 25px;

    font-family: 'Jura', sans-serif;
}

.TopMenu li{ 
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    transition: 0.2s;

}

.TopMenu a{
    font-family: 'Jura', sans-serif;

    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    
}

.TopMenu a:hover{
    color: rgb(49, 194, 16);
}
.logo h1{
    font-family: 'Jura', sans-serif;

    font-size: 30px;
    vertical-align: middle;
    color:white;
}

li:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);

}
/*HEADER END*/

/*Table start*/
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    color:  rgb(255, 255, 255);
}
td{
    color:  rgb(49, 194, 16);
}
.First-Colum{
    color: white;
}
/*Table END*/

/*Footer END*/
footer p{
    font-family: 'Jura', sans-serif;
    color:rgb(49, 194, 16);
    text-decoration:none;
}
footer{
    font-family: 'Jura', sans-serif;
    border: 2px solid rgb(49, 194, 16);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 240px;
}
/*Footer END*/

.box{
    margin: 30px 0px 0px 0px;
    background: rgb(49, 194, 16);
    height: 300px;
    padding: 0px;
    
    border-radius: 20px;
    color:black;
    text-align: center;
    transition: 0.2s;
}
.box:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}

a{
    color: #8d8176;
    text-decoration: none !important;
    border: none !important;
    }




/*feedback start*/
h1{
    cursor: help;
    margin: 0px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(49, 194, 16);
}

form{
    margin: 30px auto;
    background: black;
    height: 400 px;
    width: 450px;
    padding: 20px;
    box-shadow: 2px 2px 15px rgb(49, 194, 16);
    border-radius: 20px;
    color: white;
}

.group{
    margin: 10px;
    padding: 5px;
}

label{
    padding-left: 10px;
    text-transform: uppercase;
}

.txt_correct{
    color: white;
}

input{
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 20px/20px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 15px rgb(49, 194, 16);  
}

input:focus{
    border: 2px solid rgb(49, 194, 16);
    transform: translateX(15px);
    width: 385px;
}

button{
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color:white;
    background-color: rgb(49, 194, 16);
    border: none;
    box-shadow: 2px 2px 15px rgb(49, 194, 16);
    border-radius: 20px;

    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

button:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}

.back{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    margin-right: 25px;
    transition: 0.2s;
}
.back:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
    color: rgb(49, 194, 16);
}
/*feedback end*/
@media print{
  header footer .AllHederMenu{
    display: none;
  }

}




















