
/*основное*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Jura', sans-serif;
    background-color: black;
    color: white;
    background-image: url(images/backgroundIMG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.item{
    display: flex;
    justify-content: space-around;
}
.container{
    margin: 50px auto;
    background: black;
    height: 1550px;
    width: 900px;
    padding: 20px;
    box-shadow: 2px 2px 15px rgb(49, 194, 16);
    border-radius: 20px;
    color: white;
}
h3{
    text-align: center;
    font-weight: bold;
}
/*основное еонец*/


/*HEADER START*/
header{ 
    font-family: 'Jura', sans-serif;
    display: flex;
    justify-content: center;
}
.logo, .TopMenu{
    display:inline-block;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    margin-right: 25px;

    font-family: 'Jura', sans-serif;
}

.TopMenu li{ 
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    transition: 0.2s;

}

.TopMenu a{
    font-family: 'Jura', sans-serif;

    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    
}

.TopMenu a:hover{
    color: rgb(49, 194, 16);
}
.logo h1{
    font-family: 'Jura', sans-serif;

    font-size: 30px;
    vertical-align: middle;
    color:white;
}

li:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);

}
/*HEADER END*/

/*Table start*/
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    color:  rgb(255, 255, 255);
}
td{
    color:  rgb(49, 194, 16);
}
.First-Colum{
    color: white;
}
/*Table END*/

/*Footer END*/
footer p{
    font-family: 'Jura', sans-serif;
    color:rgb(49, 194, 16);
    text-decoration:none;
}
footer{
    font-family: 'Jura', sans-serif;
    border: 2px solid rgb(49, 194, 16);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 240px;
}
/*Footer END*/

.box{
    margin: 30px 0px 0px 0px;
    background: rgb(49, 194, 16);
    height: 300px;
    padding: 0px;
    
    border-radius: 20px;
    color:black;
    text-align: center;
    transition: 0.2s;
}
.box:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}

a{
    color: #8d8176;
    text-decoration: none !important;
    border: none !important;
    }


/*Для окон брендов*/

/*Для окон брендов*/

















ul p{
    color: #8d8176;
    text-decoration: none !important;
    border: none !important;
    }
.a-solo{
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    color:white;
    font-weight: bold;
    }
.back{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    margin-right: 25px;
    transition: 0.2s;
}
.back:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
    color: rgb(49, 194, 16);
}
.text-c{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.text-p{
    font-size: 20px;
    margin-bottom: 10px;
}
.text-a{
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    }
.text-a:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
    color: rgb(49, 194, 16);
}
a{
    text-decoration: none !important;
    border: none !important;
    }
